/* One Flow  */


.one_flow{
    position: absolute;
    width: 586px;
    height: 250px;
    left: 300px;
    top: 2101px;
    background: #FBFBFB;
    /* background: #dfd7d7; */
}

.summer{
    position: absolute;
    width: 156px;
    height: 50px;
    left: 400px;
    top: 16px;
    font-size: 17px;
    text-align: right;
}

.summer_p{
    position: absolute;
    width: 306px;
    height: 20px;
    left: 255px;
    font-size: 17px;
    top: 90px;
    text-align: right;
    
}

.find_more{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 410px;
    top: 170px;
    background: #46A358;
    border-radius: 4px; 
    border-radius: 10px 30px 30px 10px;
}

.find_more span{
    position: absolute;
    width: 108px;
    height: 16px;
    left: 19px;
    top: 10px;
    
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    
    
    color: #ffffff;
}


/* Two Flow  */

.two_flow{
    position: absolute;
    width: 586px;
    height: 250px;
    left: 1150px;
    top: 2101px;
    
    background: #FBFBFB;}


.styling{
    position: absolute;
    width: 156px;
    height: 50px;
    left: 400px;
    top: 16px;
    font-size: 17px;
    text-align: right;
}

.styling_p{
    position: absolute;
    width: 306px;
    height: 20px;
    left: 255px;
    font-size: 17px;
    top: 90px;
    text-align: right;
}

.find_more2{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 410px;
    top: 170px;
    background: #46A358;
    border-radius: 4px; 
    border-radius: 10px 30px 30px 10px;
}


.find_more2 span{
    position: absolute;
    width: 108px;
    height: 16px;
    left: 19px;
    top: 10px;
    
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    
    
    color: #ffffff;
}